
#rectangle{
    width: 100px;
    height: 100px;
    top: 200px;
    background-color: blue;
    position: relative;
}

.animate {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {top:200px;}
    50%  { top:0px;}
    100% { top:200px;}
}

/* Standard syntax */
@keyframes example {
    0%   {top:200px;}
    50%  { top:0px;}
    100% { top:200px;}
}
